autogen-core
autogen-agentchat
autogen-ext[openai]
dotenv
autogen-ext[http-tool]
langchain-community
langchain
pydantic
docker
autogen-ext[docker]
autogen-ext[mem0]
autogen-ext[mem0-local]
autogen-ext[mcp]